{% extends 'includes/base_generic.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{{ block.super }} | {% trans "Login" %}{% endblock %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{% trans "Log In" %}</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">{% trans "Log In" %}</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                {% trans "Don't Have An Account?" %} <a class="ml-2" href="{% url 'registration' %}">{% trans "Create One" %}</a>
            </small>
        </div>
    </div>
{% endblock %}


