{% extends 'includes/base_generic.html' %}
{% load i18n %}
{% block title %}
    {{ block.super }} | {% if user_profile.id == request.user.id %}
    {% trans "My Profile" %}
{% else %}
    {% blocktrans with uname=user_profile.username %}{{ uname }}'s Profile{% endblocktrans %}
{% endif %}
{% endblock %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user_profile.profile.image.url }}">
            <div class="media-body">
                {% if user_profile.get_full_name %}
                    <h2 class="account-heading">{{ user_profile.get_full_name }}</h2>
                {% else %}
                    <h2 class="account-heading">{{ user_profile.username }}</h2>
                {% endif %}
                {% if user_profile.id == request.user.id %}
                    <p class="text-secondary">{{ user_profile.email }}</p>
                {% endif %}
                {% if user_profile.profile.description %}
                    <p class="text-secondary">{{ user_profile.profile.description }}</p>
                {% endif %}
            </div>
        </div>
        <h1 class="border-bottom mb-4">{% trans "Profile Info" %}</h1>
        <p><b>{% trans "Username" %}:</b> {{ user_profile.username }}</p>
        <p><b>{% trans "Date joined" %}:</b> {{ user_profile.date_joined|date:"F d, Y" }}</p>

        {% if user_profile.id == request.user.id %}
            <a href="{% url 'my-profile-edit' %}" class="btn btn-primary">{% trans "Update Info" %}</a>
            <a href="{% url 'password-change' %}" class="btn btn-primary">{% trans "Change Password" %}</a>
            <a href="{% url 'account-delete' request.user.id %}" class="btn btn-danger">{% trans "Delete account" %}</a>
        {% else %}
            <a href="{% url 'send-message-to' user_id=user_profile.id %}"
               class="btn btn-primary">{% trans "Send message" %}</a>
        {% endif %}
    </div>

    {% if user_profile.id == request.user.id %}
        <h3>{% trans "My Posts" %}</h3>
        {% if not queryset %}
            <p>{% trans "You don't have posts yet" %}</p>
        {% endif %}
    {% elif user_profile.id != request.user.id %}
        <h3>{% blocktrans with uname=user_profile.username %}{{ uname }}'s posts{% endblocktrans %}</h3>
        {% if not queryset %}
            <p>{% trans "No posts here yet" %}</p>
        {% endif %}
    {% endif %}

    {% for post in queryset %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                    {% if post.post_comments.all|length > 1 %}
                        <small class="text-muted">| {{ post.post_comments.all|length }} {% trans "comments" %}</small>
                    {% elif  post.post_comments.all|length == 1 %}
                        <small class="text-muted">| 1 {% trans "comment" %}</small>
                    {% endif %}
                </div>
                <h2>{{ post.title }}</h2>
                <p class="js-container-mini--no-pic article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
    {% include 'includes/pagination.html' %}
{% endblock %}